<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexbehavior">
          <serviceMetadata  httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDALService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/DALService/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDALService"
        contract="DALServiceReference.IDALService" name="BasicHttpBinding_IDALService" />
    </client>
    <services>
      <service name="DALService.DALService"
               behaviorConfiguration="mexbehavior">
        <endpoint name="Dalendpoint"
                  address="http://localhost:8733/Design_Time_Addresses/DALService/Service1/"
                  binding="basicHttpBinding"
                  contract="DALService.IDALService" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/DALService/Service1/mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DALService/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>