<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DALService.DALService">
        <endpoint name="Dalendpoint"
                  address="http://localhost:8733/Design_Time_Addresses/DALService/Service1/"
                  binding="basicHttpBinding"
                  contract="DALService.IDALService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>